# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/
.env/

# Ignore data and models
data/raw/
data/processed/
models/
outputs/

# Ignore logs
*.log

# DVC files (if used)
*.dvc
.cache/
